html {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    background-image: linear-gradient(to right, blue, darkblue);
    text-align: center;
    color: white;
}

#page-contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

aside {
    width: 25%;
    border: 3px solid aqua;
    border-radius: 25px;
}

#submit {
    border: 3px solid saddlebrown;
    width: fit-content;
}

main {
    width: 74%;
    border: 3px solid maroon;
    border-radius: 25px;
}

#daily-forecast {
    border: 3px solid darkcyan;
    border-radius: 25px;
}

#day-elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: auto;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;

}

#day-elements li {
    margin: auto;
    margin-left: 0;
}